.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../assets/images/plano-de-fundo.svg), no-repeat;
    background-position: center;
    background-size: cover;
    
}

.login-container-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 584px;
    border-radius: 20px;
    display: flex;

}

.login {
    background: linear-gradient(-45deg, #1E94A2, #004B54, #1E94A2);
    background-size: 300% 300%;
    animation: gradientBG 12s ease infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease, border-radius 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
    padding: 30px 90px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login:hover {
    border-radius: 20px;
    transform: scale(1.10);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#adp {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, 20%);
    font-size: 30px;
    font-weight: 300;
    color: #EAEAEA;
    text-align: center;
    padding: 20px 0 50px 0;
}

#amc {
    font-size: 16px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(0%, -20%);
    color: #EAEAEA;
    font-weight: 300;
    text-align: left;
    margin: 0 0 10px 0
}

#email {
    width: 100%;
    padding: 6.8px;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#email:focus {
    background-color: #fff;
}

#password {
    width: 100%;
    padding: 6.8px;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#password:focus {
    background-color: #fff;
}

.imgForm {
    width: 50%;
}

.logo_login {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, -230%);
}

#ems {
    text-align: right;
    margin: 5 0 10 0;
    font-size: 14px;
}

#ntc {
    color: #EAEAEA;
    text-align: center;
    font-size: 14px;
}

#button_login {
    font-size: 18px;
    padding: 5px 133px;
    background-color: #1E94A2;
    color: #EAEAEA;
    cursor: pointer;
    margin: 30px 0;
    border: none;
    border-radius: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#button_login:hover {
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #004B54;
    transform: translateY(-5px);
}

.form-login {
    position: fixed;
}

.form-login input {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
}

.form-login label {
    color: #EAEAEA;
}

.form-login input:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transform: scale(1.05);
}

.form-login a {
    color: #EAEAEA;
    transition: color 0.5s ease;
}

.form-login a:hover {
    color: rgb(124, 124, 255);
    
}

.error-message {
    color: #bababa;
    font-size: 12px;
}

.form-group .error-message {
    display: block;

}