* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #004B54;
}

.container-content {
    background-color: #fff;
    width: 1000px;
    height: 584px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login {
    width: 50%;
    height: 100%;
    color: #000;
    /* text-align:left; */
    padding: 30px 90px;  

#adp {
    text-align: center;
    padding: 20px 0 50px 0;
}

#amc {
    text-align: left;
    margin: 0 0 10px 0
}

#email {
    width: 100%;
    padding: 6.8px;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    border-radius: 2px;

}

#senha {
    width: 100%;
    padding: 6.8px;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    border-radius: 2px;
}

.imgForm {
    width: 50%;
}

.logo_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ems {
    text-align: right;
    margin: 5 0 10 0;
    font-size: 14px;
}


#ntc {
    text-align: center;
    font-size: 14px;
}

/* #ntc {
    color: #000
} */

#button_login {
    font-size: 18px;
    padding: 5px 133px;
    background-color: #1E94A2;
    color: #fff;
    cursor: pointer;
    margin: 30px 0;
    border: none;
    border-radius: 24px;
}

.detalhe_login {
    background-color: #1E94A2;
    width: 300px;
    height: 100px;
    border-radius: 0 0 0 100px;
    position: absolute;
    top: 110px;
    right: 0;
    /* z-index: 1; */
}

.detalhe_login2 {
    background-color: #1E94A2;
    width: 300px;
    height: 100px;
    border-radius: 0 100px 0 0;
    position: absolute;
    bottom: -110px;
    left: 0;
    /* z-index: 1; */
}