.perfil {
    /* background-color: pink; */
    width: 70%;
    height: 800px;
    position: absolute;
    bottom: -300px;
    left: 385px;
    padding: 50px;
}

.dados-pessoais {
    background-color: #E2E2E2;
    /* width: 800px; */
    border-radius: 0 30px 30px 0;
    padding: 20px; 
    margin-bottom: 40px;
}

.btn-dados {
    border: none;
    background-color: #1E94A2;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
}

.dados-p {
    /* background-color: aqua; */
    /* width: 750px; */
    display: flex;
    justify-content: space-between;
    
}

.dados-info {
    /* background-color: rgb(233, 193, 118); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 30px 0 10px 0;
}

.dados-acesso {
    background-color: #D2D1D1;
    padding: 20px;
    border-radius: 30px 0 0 30px;
}