.lateral {
    position: fixed;
    top: 60px; /* Começa logo abaixo da navbar */
    left: 0;
    width: 350px;
    height: calc(100vh - 60px); /* Preenche o restante da tela abaixo da navbar */
    background-color: #1E94A2;
    color: white;
    padding: 20px;
    z-index: 998; /* Fica abaixo da navbar */
    overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a altura */
    margin-top: 3.1em;
}

.btn_lateral {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  text-decoration: none;
  /* border: 1px solid red ; */
}

.btn_lateral a {
    text-decoration: none;
    color: #fff;
    position: relative
}

.btn_lateral a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.btn_lateral a:hover::after {
    width: 100%;
}

.menu-column {
    margin: 0;
    transition: transform 0.5s ease;
    max-width: 280px;
    gap: 15px;
    display: flex;
}

img {
    margin-left: 0;
}


.btn_lateral, .menu-column:hover {
    transform: translateY(-3px);
}

.menu-column {
    margin: 0;
    transition: transform 0.5s ease;
    max-width: 280px;
    gap: 15px;
    display: flex;
} 






 