* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rede-senha-overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rede-senha-container {
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rede-senha-container h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
}

.rede-senha-container p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.rede-senha-input {
    text-align: left;
    margin-bottom: 20px;
}

.rede-senha-input label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.rede-senha-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

.btn-rede-senha {
    background-color: #1E94A2;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

}

.btn-rede-senha:hover {
    background-color: #135961;
    transition: 0.5s ease;
}

.check-rede-senha {
    font-size: 12px;
    color: #888;
    position: relative;
    bottom: -10px;
}

.key-icon{
    /* border: 2px solid black; */
    position: relative;
    top: -87px;
    width: 350px;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(180deg, rgba(255,255,255,0) 53%, rgba(30,148,162,1) 53%);
}

.form-rede-senha {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -60px;
    max-width: 85%;
}

.form-subtitle-rede-senha {
    margin: 13px;
    position: relative;
    top: -60px;
}


