.barra-layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E94A2;
  padding: 10px 20px;
  border-bottom: 1px;
  width: 79.9vw;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-38%, -386%);
}

.barra-consulta-layout {
  color: white;
  font-size: 2rem;
  margin-left: 20px;
} 