* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerCadastro {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh; 
    background-color: #004B54;
}

.cadastroContent {
    /* border: 1px solid red; */
    background-color: #fff;
    width: 1200px;
    height: 584px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.formContent {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    row-gap: 10px;
    /* background-color: tomato; */
}

.formsContents {
    /* border: 1px solid red; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 20px;
    width: 550px;
    padding: 20px;
    /* position: relative;
    top: -60px;
    right: -45px; */

}

.contentForm {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.inputContent {
    width: 100%;
    padding: 6.8px;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    border-radius: 2px;
}

.logoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    /* position: relative;
    top: -80px;
    right: -45px; */
}

.logoCadastro img {
    width: 50%;
    height: 100%;
    color: #000;  
}

/* .formContent h2 {
    position: relative;
    top: -75px;
    right: -45px;
} */

.imgCadastro {
    width: 50%;
    position: relative;
    right: -35px;
    top: -10px;
}

.btn-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    bottom: -120px;
    left: -150px; */
}

.btn-cadastro button {
    background-color: #1E94A2;
    border-radius: 24px;
    padding: 10px 90px;
    color: #fff;
    text-decoration: none; 
    transition: background-color 0.5s ease;
    border: none;
}

.btn-cadastro button:hover {
    background-color: #125E67;
}

.checkbox-content {
    display: flex;
    gap: 5px;
    /* position: relative;
    bottom: -412px;
    left: -504px;  */
    width: 100%;
    /* max-width: 400px; */
    /* border: 1px solid red; */
    padding: 10px;;
    text-align: left;
    
}

.checkbox-content {
    color: #000;
    font-size: 12px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#possui-conta {
    text-align: center;
    margin: 12px;
}