* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerCadastro {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh; 
    background-color: #004B54;
}

.cadastroContent {
    background-color: #fff;
    width: 1200px;
    height: 584px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    row-gap: 10px;
    /* background-color: tomato; */
}

.formsContents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 550px;
    position: relative;
    top: -60px;
    right: -45px;

}

.contentForm {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.inputContent {
    width: 100%;
    padding: 6.8px;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    border-radius: 2px;
}

.logoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    position: relative;
    top: -80px;
    right: -45px;
}

.logoCadastro img {
    width: 50%;
    height: 100%;
    color: #000;  
}

.formContent h2 {
    position: relative;
    top: -75px;
    right: -45px;
}

.imgCadastro {
    width: 50%;
    position: relative;
    right: -35px;
    top: -10px;
}

.btn-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -120px;
    left: -150px;
}

.btn-cadastro a {
    background-color: #1E94A2;
    border-radius: 24px;
    padding: 10px 90px;
    color: #fff;
    text-decoration: none; 
    transition: background-color 0.5s ease;
}

.btn-cadastro a:hover {
    background-color: #125E67;
}

.checkbox-content {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    position: relative;
    bottom: -80px;
    left: -300px;
    width: 300px;    
}

.checkbox-content, p, a{
    display: flex;
    color: #000;
    font-size: 12px;
}   