.barraLayout{
    background-color: #1E94A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px;;
    width: 83%;
    height: 100px;
    position: relative;
    top: 100px;
    left: 17%;
    z-index: 999;
}

.barra-item {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .barra-item:hover {
    color: black;
  }
  
