.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 162px;
}

.logo h2 {
    font-weight: 400;
}

.nav-buttons {
    margin: 0 162px;
    display: flex;
    gap: 20px;
}

.nav-buttons a {
    display: inline-block;
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: transform 0.5s ease;
}

.nav-buttons a:hover {
    /* font-weight: bold; */
    transform: translateY(-3px);
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1d1d1d;
    transition: width 0.3s ease;
}

a:hover::after{
    width: 100%;
}

/* .btn-acess {
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    background-color: #1E94A2;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.btn-acess:hover {
    color: #fff;
    transform: translateY(-3px);
}

.btn-acess::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;

}
 */
