.container-atendimento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.atendimento-queixa-content {
    border: #1E94A2 1px solid;
    width: 1200px;
    height: -40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.atend-paciente {
    display: flex;
    height: 140px;
    gap: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: (0%, 20%);
    margin-left: 5px;/
}

.container-anamnese {
    background-color: #1E94A2;
    height: 500px;
}

.anamnese {
    background-color: #fff;
    margin: 30px 50px;
    padding: 20px;
    border-radius: 3px;
}

.anamnese-data {
    border-bottom: #C2BDBD 1px solid;
}

.anamnese-data p {
    padding: 0 0 15px 0
}

.queixa-paciente {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}

#queixa-caixa {
    width: 300px;
    margin: 10px 0 20px 0;
}

#anmenese-caixa {
    width: 100%;
    height: 150px;
    margin: 10px 0 20px 0;
}

.anamnese button {
    background-color: #004B54;
    max-width: 20%;
    color: #fff;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 24px;
    padding: 10px 60px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.btn-queixa-paciente {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(40%, 0%);
    margin-top: 20px;
}

.queixa-paciente button:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    background-color: #1E94A2;
}