.footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between; /* Espaço entre a logo e o conteúdo */
  align-items: flex-start; /* Alinha os itens ao topo */
  padding: 20px;
  /* background-color: tomato; */
  margin: 0 150px;
}

.logo-redes {
  display: flex;
  align-items: center; /* Centraliza a logo e o texto verticalmente */
  gap: 10px; /* Espaçamento entre a logo e o texto */
}

.logo-redes img {
  width: 140px; /* Ajuste o tamanho da logo conforme necessário */
}

.logo-text {
  text-align: left;
  display: flex;
  flex-direction: column; /* Organiza o texto em coluna */
  gap: 5px; /* Espaçamento entre as linhas de texto */
}

.logo-text p {
  color: #868686;
  margin: 0; /* Remove margens padrão do parágrafo */
  font-size: 14px;
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas */
}

.logo-text h5 {
  color: #868686;
  margin: 0; /* Remove margens padrão do h5 */
  font-size: 18px;
  font-weight: bold; /* Deixa o texto em negrito */
}

.footer-content {
  display: flex;
  gap: 100px; /* Espaçamento entre as colunas */
  /* background-color: bisque; */
  padding: 10px;
}

.footer-section {
  text-align: left;
  display: flex;
  flex-direction: column; /* Organiza o conteúdo em coluna */
  gap: 10px; /* Espaçamento entre os itens */
}

.footer-section h5 {
  margin: 0; /* Remove margens padrão do h5 */
  font-size: 16px;
}

.footer-section p {
  color: #868686;
  margin: 0; /* Remove margens padrão do parágrafo */ 
  font-size: 12px;
}

.footer-section input {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 24px;
  width: 144px;
  height: 44px;
}

.footer-section img {
  position: absolute;
  bottom: -924.2px;
  right: 197px;
}

.footer-down {
  text-align: center;
}
