.inforesumo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inforesumo {
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 50%;
  transform: translate( -50%, 10%);
  width:700px;
  height:600px;
}

.info-paciente {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-bottom: #1E94A2 1px solid;
  margin: 10px 10px
}

.info h3 {
  color: #1E94A2;
}

.info p {
  color: #000000d0;
}

.info-agendamentos {
  padding: 20px;
  border-bottom: #1E94A2 1px solid;
  margin: 10px 10px
}

.info-agendamentos img {
  margin: 0 10px 0 0;
} 

.info-agendamentos h4 {
  color: #000000d0;
  margin: 0 0 10px 0;
}

.info-agendamentos p {
  color: #000000d0;
}

.info-obs {
  padding: 20px;
  border-bottom: #1E94A2 1px solid;
  margin: 10px 10px
}

.info-obs p {
  color: #000000d0;
  margin: 0 0 10px 0;
}

.info-obs div {
  display: flex;
  align-items: center;
}

.info-obs h4 {
  color: #000000d0;
  margin: 0 0 10px 0;
}

.info-obs img {
  margin: 0 10px 0 0;
}

