* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barraLayout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E94A2;
    padding: 10px 20px;
    border-bottom: 1px;
    /* margin-top: 150px; */
    width: 75%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.barra-item {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .barra-item:hover {
    color: black;
  }
  
  .barra-pesquisar{
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
  } 

  .barra-pesquisar input{
    border: none;

  }

  .lupa {
    width: 20px;
    position: relative;
    bottom: -3px;
  }